#brand {
    text-align: center;
  }
  
  #brand .title {
    margin-bottom: 20px;
  }
  
  #brand .title h3 {
    font-size: 17px;
    color: #0179ff;
    width: 7;
    font-weight: 500;
  }
  
  #brand .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #ffffff; /* Warna latar belakang abu-abu muda */
    padding: 60px;
    margin: 0 auto;
  }
  
  #brand .brand-logo {
    width: 100px; /* Sesuaikan ukuran logo sesuai kebutuhan */
    height: auto;
    margin: 20px; /* Sesuaikan jarak antara logo-brand */
  }

  
  /* Responsif untuk tampilan layar kecil */
  @media (max-width: 768px) {
    #brand .card-container {
      padding: 40px;
    }
  
    #brand .brand-logo {
      width: 80px;
      margin: 10px;
    }
  }


  